.user-profile-menu {
    position: absolute;
    display: inline-block;
    right: 20px;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    color: #302c6c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
  
  .menu-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background: linear-gradient(45deg, #6f6f9b, #c4d0f1, #f6f6f9);
    background-size: 200% 200%;
    animation: gradientAnimation 15s infinite alternate;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    z-index: 1000;
    width: 250px;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  
  .user-info {
    margin-bottom: 15px;
    margin-left: 0px;
    font-family: "Roboto", sans-serif;
    color: #333;
  }
  
  .user-info p {
    margin: 8px 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  .user-info p strong {
    margin-right: 8px;
    font-weight: 600;
  }
  
  .menu-divider {
    height: 2px;
    background-color: #fdf9f9;
    margin: 15px 0;
  }
  
  .logout-btn {
    display: block;
    width: 50%;
    padding: 5px 0;
    background-color: transparent; /* Supprime l'arrière-plan */
    color: #111010;
    border: none;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 500;
    transition: opacity 0.3s ease; /* Animation douce sur l'opacité */
    margin-top: 295px;
    margin-right: 145px;
}

.logout-btn:hover {
    background-color: transparent; /* S'assure qu'il reste transparent au survol */
    opacity: 0.7; /* Ajoute un léger effet de transparence au hover */
}

.update-profile-btn {
  display: block;
  width: 50%;
  padding: 5px 0;
  background-color: transparent; /* Supprime l'arrière-plan */
  color: #181717;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  transition: opacity 0.3s ease; /* Ajoute un effet de transparence au hover */
  margin-top: 0px;
  margin-right: 150px;
}

.update-profile-btn:hover {
  background-color: transparent; /* Assure qu'il reste transparent */
  opacity: 0.7; /* Ajoute un effet de survol */
}

  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  