

.update-box {
  background: linear-gradient(45deg, #8887c3, #a1b2e0, #a7abf6);
  background-size: 200% 200%;
  animation: gradientAnimation 15s infinite alternate;  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 150%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 110px;
  width: 1100px;
}
.update-box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.update-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.update-form label {
  margin-top: 10px;
  font-weight: bold;
}

.update-form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.readonly-field {
  background-color: #f0f0f0;
  color: #666;
  border: 1px solid #ddd;
  cursor: not-allowed;
}

.save-btn {
  margin-top: 20px;
  background-color: #514382;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #4a4242;
}

.message {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

