



.input-group {
  margin-bottom: 15px;
  margin-right: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 10px;
}

.login-btn {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background: #555;
}

.forgot-password a {
  margin-top: 10px;
  color: #f6f8fa;
  cursor: pointer;
}

.signup {
  margin-top: 20px;
}

.signup a {
  color: #f6f8fa;
  text-decoration: none;
}

/* CSS spécifique pour le formulaire de SignUp */
.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box form .input-group {
  width: 100%;
}

.login-box form .input-group input {
  margin-bottom: 15px;
}
